.saved-card__menu {
  position: absolute;
  display: grid;
  grid-template-columns: max-content auto 40px;
  grid-template-rows: 40px;
  column-gap: 5px;
  margin-top: 24px;
  width: 90%;
}

.saved-card__button {
  border-radius: 10px;
  font-size: 10px;
  border-radius: none;
  cursor: pointer;
  background: center no-repeat #fff;
  transition: background 200ms linear;
}

.saved-card__button_dynamic {
  width: max-content;
  justify-self: end;
}

.saved-card__button_icon_trash {
  background-image: url(../../../images/trash.svg);
}

.saved-card__button_icon_trash:hover {
  background-image: url(../../../images/trash-hover.svg);
}

@media screen and (width < 768px) {
  .saved-card__menu {
    margin-top: 16px;
  }
}