.hamburger-btn {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
  background: transparent;
  border: none;
  grid-column: 4;
}

.hamburger-btn__bar {
  height: 2px;
  background-color: #fff;
  width: 16px;
  position: relative;
  transition: all 250ms ease-in-out;
  rotate: 0deg;
  top: 0px;
}

.hamburger-btn_active > :first-child {
  rotate: 45deg;
  top: 3px;
}

.hamburger-btn_active > :last-child {
  rotate: -45deg;
  top: -3px;
}