.form__button_type_modal {
  border-radius: 20px;
  color: #fff;
}

.modal__label, .modal__error {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.modal__label {
  color: #2F71E5;
}

.modal__error {
  color: #FF0000;
}

.modal__item {
  border: unset;
  border-bottom: 1px solid rgb(0 0 0 / .3);
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter';
}

.modal__item::placeholder {
  opacity: .5;
}

.modal__link {
  justify-self: center;

  button {
    color: #2F71E5;
    background-color: transparent;
  }
}