.about {
  display: flex;
  gap: 56px;
  width: 90%;
  padding: 80px 0;
}

.about__image {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.about__brief {
  display: grid;
  row-gap: 24px;
  flex-basis: 60%;
}

.about__title {
  font-size: 40px;
  font-weight: 400;
  font-family: 'RobotoSlab';
  line-height: 46px;
}

.about__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Roboto'
}

@media screen and (width < 768px) {
  .about {
    flex-direction: column;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (width > 1440px) {
  .about__image {
    width: 464px;
    height: 464px;
  }
}