.navigation__menu {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  justify-self: end;
}

.navigation__menu, .navigation__list {
  display: flex;
  column-gap: 16px;
}

.navigation__logout-icon {
  position: relative;
  top: 2px;
}

.navigation_logout-icon_history_main {
  fill: #fff;
}

.navigation__button {
  background-color: transparent;
  border: 1px solid #fff;
  height: 48px;
}

@media screen and (width < 768px) {
  .navigation__menu {
    position: absolute;
    top: 9.8%;
    right: 0;
    align-items: flex-start;
    background-color: #1A1B22;
    width: 100%;
    display: none;
  }

  .navigation__menu, .navigation__list {
    flex-direction: column;
    row-gap: 20px;
  }

  .navigation__list, .navigation__button {
    margin-inline-start: 16px;
  }

  .navigation__menu_active {
    padding: 15px 0;
    display: flex;
  }
}