.navigation__menu {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  grid-column: 4;
}

.navigation__menu {
  display: flex;
  column-gap: 16px;
}

.navigation__menu, .navigation__link, .navigation__button {
  width: max-content;
}

.navigation__logout-icon {
  position: relative;
  top: 2px;
}

.navigation_logout-icon_history_main {
  fill: #fff;
}

.navigation__button {
  background-color: transparent;
  border: 1px solid #fff;
  height: 48px;
}

@media screen and (width < 768px) {
  .navigation__menu {
    position: absolute;
    width: 100%;
    background-color: #1A1B22;
    align-self: start;
    grid-row: 3;
    grid-column: 1;
    display: none;
  }

  .navigation__menu_active {
    gap: 20px 0;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 7% auto;
  }

  .navigation__link, .navigation__button {
    grid-column: 2;
  }
}