.modal {
  display: grid;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition: all 150ms ease-in-out;
  grid-template-columns: 430px 40px;
  grid-template-rows: 40px max-content;
  place-content: center;
  gap: 6px
}

.modal_open {
  visibility: visible;
  opacity: 1;
}