.header {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-rows: 80px calc(576px - 80px);
  color: #fff;
}

.header_history_main {
  grid-template-rows: 80px calc(576px - 80px);
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
}

.header__nav {
  width: 90%;
  display: grid;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 5%;
}

.header__title {
  font-size: 20px;
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 700;
}