.header {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 7% min-content auto min-content 7%;
  color: #fff;
  position: relative;
  align-items: center;
}

.header_history_main {
  grid-template-rows: 80px auto calc(576px - 80px);
  background: center/cover no-repeat url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
}

.header__title {
  font-size: 20px;
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 700;
  grid-column: 2;
}

.header__line {
  grid-column: span 5;
  width: 100%;
}

@media screen and (width < 768px) {
  .header {
    grid-template-rows: 56px auto calc(576px - 56px);
  }

  .header__title {
    font-size: 16px;
  }

  .header_shadow {
    box-shadow: inset 0 56px #1A1B22;
  }
}