.header__button_route_saved {
  border: 1px solid #000;
}

.header__svg_route_saved {
  fill: #000;
}

.header__hamburger_route_saved {
  background-color: #000;
}

.header__hamburger_open {
  background-color: #fff;
}

@media screen and (width < 768px) {
  .header__svg_rouote_saved {
    fill: #fff;
  }

  .header__hamburger_open {
    background-color: #fff;
  }

  .header__title_open {
    color: #fff;
  }

  .navigation__menu_active {
    color: #fff;
  }

  .header__button_route_saved {
    border-color: #fff;
  }
}