.header {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 7% min-content auto min-content 7%;
  grid-template-rows: 80px;
  position: relative;
  align-items: center;
}

.header__title {
  font-size: 20px;
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 700;
  grid-column: 2;
}

.header__line {
  grid-column: span 5;
  width: 100%;
}

@media screen and (width < 768px) {
  .header {
    grid-template-rows: 56px;
    transition: box-shadow 100ms linear;
    box-shadow: inset 0 56px #1a1b2200;
  }

  .header__title {
    font-size: 16px;
    transition: color 200ms linear;
  }

  .header_shadow {
    box-shadow: inset 0 56px #1A1B22;
  }
}